<%- include('navbar') -%>

<a onclick="scrollToTop()" class="to-top btn btn-lg btn-light">▲</a>
<div class="hide stat_dist_data">
  <div class="updates">
    <div class="update-title">Live updates of COVID-19 in Your District</div>
    <div class="cards">
      <div class="card shadow">
        <div class="data">
          <h3 class="data-text red" id="dist_name"></h3><br>
          <h3 class="data-num red" id="dist_confirmed"></h3>
        </div>
      </div>
      <div class="card shadow">
        <div class="data">
          <h3 class="data-text green">Active</h3>
          <h3 class="data-num green" id="dist_active"></h3>
        </div>
      </div>
      <div class="card shadow">
        <div class="data">
          <h3 class="data-text black">Recovered</h3>
          <h3 class="data-num black" id="dist_recovered"></h3>
        </div>
      </div>
    </div>
  </div>
  <div class="updates">
    <div class="update-title">Live updates of COVID-19 in Your State</div>
    <div class="cards">
      <div class="card shadow">
        <div class="data">
          <h3 class="data-text red" id="stat_name"></h3><br>
          <h3 class="data-num red" id="stat_confirmed"></h3>
        </div>
      </div>
      <div class="card shadow">
        <div class="data">
          <h3 class="data-text green">Active</h3>
          <h3 class="data-num green" id="stat_active"></h3>
        </div>
      </div>
      <div class="card shadow">
        <div class="data">
          <h3 class="data-text black">Recovered</h3>
          <h3 class="data-num black" id="stat_recovered"></h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="updates">
  <div class="update-title">Live updates of COVID-19 in India</div>
  <div class="cards">
    <div class="card shadow">
      <div class="data">
        <h3 class="data-text red">India</h3><br>
        <h3 class="data-num red"><%=totalindia_data.confirmed%></h3>
      </div>
    </div>
    <div class="card shadow">
      <div class="data">
        <h3 class="data-text green">Active</h3>
        <h3 class="data-num green"><%=totalindia_data.active%></h3>
      </div>
    </div>
    <div class="card shadow">
      <div class="data">
        <h3 class="data-text black">Recovered</h3>
        <h3 class="data-num black"><%=totalindia_data.recovered%></h3>
      </div>
    </div>

  </div>
</div>


<div id="chartContainer" class="container" style="height: 370px; width: 100%;" onload="myfunc()"></div>


<div class="container infection-trajectory shadow">
  <iframe src="https://ourworldindata.org/grapher/covid-confirmed-cases-since-100th-case"
    style="width: 100%; height: 600px; border: 0px none;" class="infection-trajectory-iframe"></iframe>
</div>

<div class="container country-wise shadow">
  <iframe src="https://ourworldindata.org/grapher/daily-cases-covid-19?tab=map&country=IND"
    style="width: 100%; height: 600px; border: 0px none;" class="country-wise-iframe"></iframe>
</div>

<div class="container country-wise shadow">
  <iframe src="https://ourworldindata.org/grapher/daily-cases-covid-19?country=IND"
    style="width: 100%; height: 600px; border: 0px none;" class="country-wise-iframe"></iframe>
</div>


<div class="container section-statewise bg-light shadow">
  <table class="table table-striped table-hover table-responsive-md">
    <thead>
      <tr>
        <th scope="col">state</th>
        <th scope="col">confirmed</th>
        <th scope="col">active</th>
        <th scope="col">deaths</th>
        <th scope="col">recovered</th>
      </tr>
    </thead>

    <% for(var i=0;i<statewise.length;i++) { %>
    <tr>
      <th scope="row"><%=statewise[i].state%></th>
      <td><%=statewise[i].confirmed%></td>
      <td><%=statewise[i].active%></td>
      <td><%=statewise[i].deaths%></td>
      <td><%=statewise[i].recovered%></td>
    </tr>
    <%}%>        
      </table>


<hr>


<div class="container section-statewise bg-light shadow">
  <table class="table table-striped table-hover table-responsive-md">
    <thead>
      <tr>
        <th scope="col">country name</th>
        <th scope="col">confirmed</th>
        <th scope="col">active</th>
        <th scope="col">deaths</th>
        <th scope="col">recovered</th>
      </tr>
    </thead>

    <% for(var i=0;i<countrywise.length;i++) { %>
    <tr>
      <th scope="col"><%=countrywise[i].country_name%></th>
      <td><%=countrywise[i].cases%></td>
      <td><%=countrywise[i].active_cases%></td>
      <td><%=countrywise[i].deaths%></td>
      <td><%=countrywise[i].total_recovered%></td>
    </tr>
    <%}%>        
      </table>
    
</div>


<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
<script type="text/javascript" src="js/livedata.js"></script>
    <%- include('partials/footer') -%>